*{
    font-family: 'Rajdhani', sans-serif;
}

a {
    color: #e7e9ea;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
}

li{
    margin-top: 30px;

}
body{
    display: flex;
    background-color: black;
}

.aside{
    width: 33.3%;
    height: 100vh;
}

.mid{
    border: 1px solid rgb(75, 75, 75);
    position: relative;
    font-size: 20px;
}

.search-form{
    margin: 5px 20px;
}

.borderless {
    border: none;
    outline: none;
}
.b-radius{
    border-radius: 1rem;
}
.round{
    border-radius: 50%;
}
.padding{
    padding: 2px 10px;
}
.bgaqua {
    color: white;
    background-color: rgb(0, 170, 216);
}
.bgnone{
    color:white;
    background: none;
}
.small-dp{
    height: 48px;
    width: 48px;
}

.d1{
    display:flex; 
    position: absolute; 
    width: 100%;
    margin-top: 15px;
}

.imgMargin{
    margin: 0% 5%;
}

.form1{
    position: relative;
    height: 35vh;
    width: 100%;
}
textarea{
    height: 20vh;
    width: 95%;
    color:lightgray;
    border-bottom: 1px solid rgb(75, 75, 75) !important;
}
.tweet-button{
    position: absolute;
    margin-top: 10px;
    right: 0;
    margin-right: 5%;
    cursor:pointer;
}
input[type="search"]{
    background-color: rgb(29,29,29); 
    color: lightgray;
}